/.vscode
/Flask
/Norbert_Zrupko_Projektbeschreibung.pdf
/Projektbeschreibung.docx
/Übung.py
/add.png
/arguments.py
/bak_rechner.py
/dictionaries.py
/einführung.py
/einführung2_datatypes_mathOP.py
/erste_schritte_string_formating.py
/favicon.ico
/fehlerbehandlung.py
/files_open_save_close.py
/functions.py
/funktionen.py
/funktionen_return.py
/hotel.py
/hotel.txt
/if_else.py
/importe.py
/keywords.py
/list_extend2.py
/list_extened.py
/listen.py
/log.txt
/logische_operatoren.py
/loops.py
/main_project.py
/maint.db
/maintUtility.py
/monsters_vs_heroes.py
/namen.rtf
/namen.txt
/projekt_main.py
/projektplan.py
/py.png
/sets.py
/spiel.py
/spiel_muenchen.py
/team.py
/tesmodul.py
/tkinter_calc.py
/tkinter_grid.py
/tkinter_intro.py
/tkinter_pack1.py
/tkinter_pack2.py
/try_except.py
/tuples.py
/user_input.py
/variablen.py
/zufall.py